body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#topnavbar {
   margin: 0;
}
#topnavbar.affix {
   position: fixed;
   top: 0;
   width: 100%;
}

#banner {
  width: 100%;  

}
#banner.container
{
  top:0px;
  width: 100%;  
  padding-left:0px;
  padding-right:0px;
  background: #633597;
  color:white;
}
.row
{
    padding-left:5px;
}
